<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Send API</title>
</head>
<body>

    <form class="m-5 w-50 mx-auto">
        <fieldset>
          <legend>Send Harry Potter data</legend>
          <div class="mb-3">
            <label class="form-label">name</label>
            <input type="text"  class="form-control" placeholder="Name">
          </div>
          <div class="mb-3">
            <label  class="form-label">sureName</label>
            <input type="text"  class="form-control" placeholder="Sure Name">
          </div>
          <div class="mb-3">
            <label  class="form-label">age</label>
            <input type="number" class="form-control" placeholder="age">
          </div>
          <div class="mb-3">
            <label class="form-label">id</label>
            <input type="number" class="form-control" placeholder="id">
          </div>
         
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
      </form>
    
</body>
</html>